site-header, site-footer {
  display: block;
}

/* Custom page header */
.header h1 {
  font-weight: bold;
  display: inline-block;
  font-size: 50px;
}

.smallLogo {
  width: 128px;
}

/*
List View
*/
.listContainer {
  border: 1px solid black;
  padding: 0px;
}

.listItem {
  text-align: center;
  display: block;
  padding: 20px 0px;
}

.listItem {
  font-size: 35px;
  font-weight: normal;
}

.listItem:nth-child(n+2) {
  border-top: 1px dotted gray;
}

/* Custom page footer */
.footer {
  padding-top: 25px;
  color: #777;
}

.footer footer, .centered {
  text-align: center;
}
