<site-header></site-header>
<div class="col-md-6 col-md-offset-3">
	<h3>What is It?</h3>
	<p>An app to keep track of whose turn it is to pay, in a way that's moderately fair and moderably durable.</p>
	<p>It's an evolution of a system the authors have been using on a whiteboard for years, and since it's useful for us, we hope it's useful for you.</p>

	<h3>Credits</h3>
	<p>Geoffrey and Paul both spent some time on design and implementation as well as discussing ideas. It's 
	not an even split, but we don't need to split hairs.</p>
	<ul>
		<li><a href="http://geoffreywiseman.ca">Geoffrey Wiseman</a> of <a href="http://codiform.com/">Codiform</a></li>
		<li><a href="http://blog.paulhfch.com">Paul Huang</a></li>
	</ul>

	<h3>Technology</h3>
	<p>
		This application is built on the following technology:
	</p>
	<ul>
		<li><a href="http://angularjs.com">AngularJS</a></li>
		<li><a href="http://gruntjs.com">Grunt</a></li>
		<li><a href="http://bower.io">Bower</a></li>
	</ul>

</div>
<site-footer></site-footer>